@model Cinema.WEB.Models.MovieModels.MovieFilteredResponse

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @using (Html.BeginForm("MovieIndex", "Movie", FormMethod.Get))
            {
                <div class="row justify-content-between">
                    <div class="col-md-auto">
                        <p>
                            <a asp-controller="Movie" asp-action="MovieCreate" class="btn btn-success shadow"><i class="bi bi-plus-square"></i></a>
                        </p>
                    </div>

                    <div class="col-md-auto">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="flex-fill me-2">
                                <p class="shadow">
                                    @Html.TextBox("search", Model.Search, new { @class = "form-control" })
                                </p>
                            </div>
                            <div>
                                <p>
                                    <input type="submit" value="найти" class="btn btn-primary shadow" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card shadow">
                <div class="card-body">

                    @foreach (var movie in Model.MoviesPage.Items)
                    {
                        <div class="card-body">
                            <div class="row">
                                <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id" class="col-lg-3 d-flex justify-content-center align-items-center">
                                    @if (!string.IsNullOrEmpty(movie.ImageUrl))
                                    {
                                        <img id="preview" src="@movie.ImageUrl" alt="movie img" class="img-fluid rounded" style="object-fit:cover; height: 100%;">
                                    }
                                    else
                                    {
                                        <img id="preview" src="\images\default_icon.png" class="img-fluid rounded" style="object-fit: contain;">
                                    }
                                </a>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4>@movie.Title</h4>
                                        </div>
                                        <div class="col-3 text-end">
                                            <a asp-controller="Movie" asp-action="MovieUpdate" asp-route-id="@movie.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                            <a asp-controller="Person" asp-action="MovieDelete" asp-route-id="@movie.Id" class="btn btn-danger delete-btn"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span><b>Год выпуска:</b></span>
                                        @movie.ReleaseYear
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Страна:</b></span>
                                        @movie.Country
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Жанр:</b></span>
                                        @movie.Genre.Name
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Продолжительность:</b></span>
                                        @movie.RuntimeInMinutes мин.
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Режиссёр:</b></span>
                                        @string.Join(", ", movie.Directors.Select(d => $"{d.FirstName} {d.LastName}"))
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Сценарий:</b></span>
                                        @string.Join(", ", movie.Screenwriters.Select(s => $"{s.FirstName} {s.LastName}"))
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Актёры:</b></span>
                                        @string.Join(", ", movie.Actors.Select(a => $"{a.FirstName} {a.LastName}"))
                                    </div>
                                    <div class="col mt-1">
                                        <span><b>Качество:</b></span>
                                        .mp4
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (!movie.Equals(Model.MoviesPage.Items.Last()))
                        {
                            <hr />
                        }
                    }
                    <div class="d-flex justify-content-center mt-3">
                        <div class="mx-2">
                            @if (Model.MoviesPage.CurrentPage > 1)
                            {
                                <a class="btn btn-primary btn-block text-truncate" href="@Url.Action("MovieIndex",
                                                                                                      new { page = Model.MoviesPage.CurrentPage - 1,
                                                                                                            search = Model.Search,
                                                                                                            sort = Model.Sort,
                                                                                                            titleFilter = Model.TitleFilter,
                                                                                                            directorFilter = Model.DirectorFilter,
                                                                                                            genreFilter = Model.GenreFilter })">
                                    <span class="glyphicon glyphicon-chevron-left"></span> назад
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled btn-block text-truncate">
                                    <span class="glyphicon glyphicon-chevron-left"></span> назад
                                </a>
                            }
                        </div>

                        <div class="mx-2">
                            @if (Model.MoviesPage.CurrentPage < Model.MoviesPage.TotalPages)
                            {
                                <a class="btn btn-primary btn-block text-truncate" href="@Url.Action("MovieIndex",
                                                                                                     new { page = Model.MoviesPage.CurrentPage - 1,
                                                                                                           search = Model.Search,
                                                                                                           sort = Model.Sort,
                                                                                                           titleFilter = Model.TitleFilter,
                                                                                                           directorFilter = Model.DirectorFilter,
                                                                                                           genreFilter = Model.GenreFilter })">
                                    далее <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled btn-block text-truncate">
                                    далее <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="scroll-to-top-btn" class="btn btn-primary btn-floating"><i class="bi bi-arrow-up-circle"></i></button>