@model Cinema.WEB.Models.MovieModels.MovieFilteredResponse

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @using (Html.BeginForm("MovieIndex", "Movie", FormMethod.Get))
            {
                <div class="row justify-content-between">
                    <div class="col-md-auto">
                        <p>
                            <a asp-controller="Movie" asp-action="MovieCreate" class="btn btn-success shadow"><i class="bi bi-plus-square"></i></a>
                        </p>
                    </div>

                    <div class="col-md-auto">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="flex-fill me-2">
                                <p class="shadow">
                                    @Html.TextBox("search", Model.Search, new { @class = "form-control" })
                                </p>
                            </div>
                            <div>
                                <p>
                                    <input type="submit" value="найти" class="btn btn-primary shadow" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover col-md-6 fixed-table">
                            <thead>
                                <tr>
                                    <th width="35%" class="text-center align-middle">
                                        @if (Model.Sort)
                                            @Html.ActionLink("Наименование", "MovieIndex",
                                                             new { sort = false,
                                                                   search = Model.Search,
                                                                   page = Model.MoviesPage.CurrentPage,
                                                                   pageSize = Model.MoviesPage.PageSize })
                                        else
                                            @Html.ActionLink("Наименование", "MovieIndex",
                                                             new { sort = true,
                                                                   search = Model.Search,
                                                                   page = Model.MoviesPage.CurrentPage,
                                                                   pageSize = Model.MoviesPage.PageSize })


                                        </th>
                                        <th width="30%" class="text-center align-middle">Дата выхода</th>
                                        <th width="35%" class="text-center align-middle">Действия</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var movie in Model.MoviesPage.Items)
                                {
                                    <tr>
                                        <td class="text-center align-middle">@movie.Title</td>
                                        <td class="text-center align-middle">@movie.ReleaseYear</td>
                                        <td class="text-center align-middle">
                                            <a asp-controller="Movie" asp-action="MovieUpdate" asp-route-id="@movie.Id" class="btn btn-success m-1"><i class="bi bi-pencil-square"></i></a>
                                            <a asp-controller="Movie" asp-action="MovieDelete" asp-route-id="@movie.Id" class="btn btn-danger delete-btn"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center mt-3">
                            <div class="mx-2">
                                @if (Model.MoviesPage.CurrentPage > 1)
                                {
                                    <a class="btn btn-primary btn-block text-truncate" href="@Url.Action("MovieIndex",
                                                                                                             new { page = Model.MoviesPage.CurrentPage - 1,
                                                                                                                   search = Model.Search,
                                                                                                                   sort = Model.Sort,
                                                                                                                   titleFilter = Model.TitleFilter,
                                                                                                                   directorFilter = Model.DirectorFilter,
                                                                                                                   genreFilter = Model.GenreFilter })">
                                        <span class="glyphicon glyphicon-chevron-left"></span> назад
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary disabled btn-block text-truncate">
                                        <span class="glyphicon glyphicon-chevron-left"></span> назад
                                    </a>
                                }
                            </div>

                            <div class="mx-2">
                                @if (Model.MoviesPage.CurrentPage < Model.MoviesPage.TotalPages)
                                {
                                    <a class="btn btn-primary btn-block text-truncate" href="@Url.Action("MovieIndex",
                                                                                                         new { page = Model.MoviesPage.CurrentPage - 1,
                                                                                                               search = Model.Search,
                                                                                                               sort = Model.Sort,
                                                                                                               titleFilter = Model.TitleFilter,
                                                                                                               directorFilter = Model.DirectorFilter,
                                                                                                               genreFilter = Model.GenreFilter })">
                                        далее <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary disabled btn-block text-truncate">
                                        далее <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="scroll-to-top-btn" class="btn btn-primary btn-floating"><i class="bi bi-arrow-up-circle"></i></button>